*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #0fa2a9;
    padding: 0px;
    font-size: 1.5pc;
    font-style: normal;
    text-align: center;

}
.tag{
    font-size: 20px;
    margin-top: 10px;
    /* margin-left: 100px; */
    text-align: center;

    color: blue;
    padding-right: 0px;
    align-content:center;
    flex-direction: row; 
    background-color: #0fa2a9;
    /* padding: 10px; */
    /* margin-bottom: 20px; */
    /* font-size: 25px; */
    color: whitesmoke;
    text-decoration: none;
    transition: 1s;
 }
.tag:hover{
    color: rgb(0, 0, 0);
}
/* .pin{
    font-size: 20px;
    text-align: right;
    color: blue;
    padding-right: 50px;
    flex-direction: row; */

/* } */
.pin:hover{
    color: rgb(231, 0, 0);
}
 .zoo{
    font-size: 25px;
    text-align: right;
    color: blue;
    padding-right: 25px; 
    background-color: #0fa2a9;
    color: whitesmoke;
    text-decoration: none;
}
.zoo:hover{
    background-color: #0fa2a9;
    color:rgb(0, 0, 0);
}
.ship{
    background-color: #0fa2a9;
    padding: 10px;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
    transition: 1s;
    
    
}
.ship:hover{
    background-color: #7ec8cc;
    color:rgb(255, 255, 255);
}
.upper{
    background-color: #0fa2a9;
    margin-top: 20px;
}

.upper>h1{
    background-color: #0fa2a9;

}
.sleep>h1{
    background-color: #0fa2a9;
    color: white;
}
.sleep{
    /* flex-direction: row;
     */display: flex;
     flex-direction: row;
     justify-content: space-between;
    background-color: #0fa2a9;
    padding: 5px;
}
.upper{
    background-color: #0fa2a9;
    padding: 2px;
    margin: 0px;
}
.leftpper{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: right;
    background-color: #0fa2a9;

}
.leftpper>h1{
    font-size: 2pc;
    margin-top: 3%;
    margin-right: 4%;
    color: white;
    background: #0fa2a9;
}
.leftpper>h1:hover{
    color:black;
}
.circle{
    color: #0fa2a9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #0fa2a9;

}

table {
    width: 100%;
    padding: 5% 2.5%;
}

table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table tr td{
    width: 100%;
    text-align: center;
    padding: .5%;
}

table tr td {
    background: none;
}

table tr td p, a {
    background: none;
}

table tr td a {
    color: black;
    text-decoration: none;
}

#color:nth-child(even) {
    background: #0fa2a9;
    width: 100%;
    /* min-height: 100px; */
}